body {
  background-color: lightyellow;
}

#addNotes {
  width:40%;
  height: auto;
  margin-left: 32%;
  text-align: center;
  background-color: red;
  padding-bottom: 4px;
}


.fa-plus-circle{
  font-size: 20px;
}

#noteAdd{
  margin-top: 1px;
  border-radius: 10px;
}

.fa-pencil, .fa-trash-o, .fa-plus-circle{
  pointer-events: none;
}
#container{
  display:flex;
  flex-wrap: wrap;
  /*background-color: yellow;*/

}
.allNotesSavedHere{
  width: 200px;
  height: auto;
  margin: 5px;
  padding: 15px;
  background-image: url("../image/black.jpg");
  background-size: cover;
  color: white;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid black;
}


#addNotesForm {
  position:absolute;
  width: 39.5%;
  text-align: center;
  /*background: url("../image/note.jpg");*/

  background-color: orange;
  margin-left: 31.25%;
  /*margin-right: 33.6%;*/
  display: none;
  /*border-radius: 40px;*/
}


#title{
  border: 1px solid black;
  width: 200px;
  height: 25px;

}

#description{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  resize: none;
}

/*.save{
  background-color: lightblue;
}*/

#footer {
    position : absolute;
    bottom : 0;
    /*height : 40px;
    margin-top : 40px;*/
    text-align: center;

  }
